src
node_modules
package-lock.json
package.json
public
index.html
tsconfig.json
vite.config.ts
tsconfig.tsbuildinfo
tsconfig.app.json
tsconfig.node.json
tsconfig.node.tsbuildinfo
tsconfig.app.tsbuildinfo
eslint.config.js